html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

#container {
	max-width: 1100px;
	margin: auto;
}

h1 {
	font-family: 'Lobster', cursive;
	margin: 0;
	padding: 0;
	color: #d65077;
	text-align: center;
	font-weight: normal;
}

h2 {
	font-family: 'Lobster', cursive;
	font-weight: normal;
	color: #d65077;
	margin: 0;
	padding: 0;
}

h4 {
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: normal;
	color: #2a5a59;
	margin: 0;
	padding: 0;
}

h3,
p {
	font-family: 'Archivo Narrow', sans-serif;
	margin: 0;
	padding: 0;
}

h3 {
	color: #54b4b0;
	font-weight: normal;
}

p {
	color: #58595b;
}

a {
	text-decoration: none;
}

/* HEADER */

header {
	background-color: #54b4b0;
	padding: 10px;
	margin-bottom: 20px;
}

#logo {
	opacity: 0.45;
	margin: 0;
	padding: 0;
	max-width: 250px;
}

.header-name {
	color: #ffffff;
	text-shadow: 4px 3px 0 #2a5a59;
}

@media (min-width: 300px) {
	#header {
		margin: auto;
		width: 80%;
	}
	#logo {
		width: 0%;
	}
	#logo img {
		width: 0%;
	}
	.header-name {
		font-size: 40px;
		text-align: center;
		margin-top: -20px;
	}
	h4 {
		font-size: 15px;
		text-align: center;
	}
}

@media (min-width: 600px) {
	#header {
		width: 80%;
	}
	#logo {
		width: 40%;
		margin-top: -10px;
		margin-left: -10px;
	}
	#logo img {
		width: 100%;
	}
	.header-name {
		font-size: 50px;
		text-align: right;
		margin-top: -130px;
	}
	h4 {
		font-size: 20px;
		text-align: right;
		margin-bottom: 30px;
	}
	.header-name,
	h4 {
		margin-right: 20px;
	}
}

@media (min-width: 900px) {
	#header {
		width: 100%;
	}
	#logo {
		margin-top: 5px;
	}
	#logo img {
		width: 300px;
		margin-bottom: -20px;
	}
	.header-name {
		font-size: 85px;
		margin-top: -180px;
	}
	h4 {
		font-size: 30px;
		letter-spacing: 2px;
		margin-bottom: 20px;
	}
}

.body-headers {
	border-top: 1px solid #cccccc;
	border-bottom: 3px dashed #cccccc;
	margin-bottom: 30px;
}

@media (min-width: 300px) {
	h3,
	p {
		font-size: 15px;
		line-height: 20px;
	}
	section {
		width: 90%;
		margin: auto;
	}
}

@media (min-width: 600px) {
	h3,
	p {
		font-size: 20px;
		line-height: 25px;
	}
}

@media (min-width: 900px) {
	section {
		width: 100%;
		margin: auto;
	}
	.body-headers {
		font-size: 50px;
	}
}

#education,
#experience,
#skills,
#achievements,
#contact {
	background-size: 50%;
}

@media (min-width: 300px) {
	#education,
	#experience,
	#skills,
	#achievements,
	#contact {
		background-size: 0%;
	}
}

@media (min-width: 600px) {
	#education,
	#experience,
	#skills,
	#achievements,
	#contact {
		background-size: 30%;
		background-position: right bottom;
	}
}

/* EDUCATION SECTION */

#education {
	background-image: url("../img/grad-cap.png");
	background-repeat: no-repeat;
}

@media (min-width: 300px) {
	#slo,
	#ufl {
		margin: 20px 0;
	}
}

@media (min-width: 900px) {
	#education {
		background-position: bottom center;
	}
	#slo {
		width: 410px;
		float: left;
		margin-top: 0;
		margin-right: 250px;
	}
	#ufl {
		padding-bottom: 90px;
	}
	#slo p,
	#ufl p {
		margin: 15px 0;
	}
}

/* WORK EXPERIENCE SECTION */

#experience {
	margin-top: 30px;
	background-image: url("../img/briefcase.png");
	background-repeat: no-repeat;
}

.year {
	color: #a7a9ac;
}

@media (min-width: 300px) {
	.work-right {
		text-align: right;
	}
}

@media (min-width: 600px) {
	#work {
		width: 500px;
		margin: auto;
	}
}

@media (min-width: 900px) {
	#experience {
		width: 600px;
		float: left;
		margin-top: 20px;
		margin-bottom: 50px;
	}
	#skills {
		width: 480px;
		float: right;
		border-left: 3px dashed #cccccc;
		padding-bottom: 90px;
		padding-left: 20px;
	}
}

/* SKILLS SECTION */

#skills {
	margin-top: 20px;
	background-image: url("../img/pencil.png");
	background-repeat: no-repeat;
}

#titles {
	margin: auto;
}

.graph-titles {
	float: left;
	margin-right: 105px;
}

.graph-titles:last-child {
	margin-right: 0;
}

#graph {
	clear: both;
	border-top: 1px solid #cccccc;
}

#photoshop {
	background-color: #d65077;
	width: 80%;
	margin-top: 10px;
	color: #ffffff;
	padding: 3px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px;
}

#illustrator {
	background-color: #54b4b0;
	width: 88%;
	margin-top: 5px;
	color: #ffffff;
	padding: 3px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px;
}

#indesign {
	background-color: #d65077;
	width: 73%;
	margin-top: 5px;
	color: #ffffff;
	padding: 3px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px;
}

#html5 {
	background-color: #54b4b0;
	width: 88%;
	margin-top: 5px;
	color: #ffffff;
	padding: 3px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px;
}

#php {
	background-color: #d65077;
	width: 20%;
	margin-top: 5px;
	color: #ffffff;
	padding: 3px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px;
}

#js {
	background-color: #54b4b0;
	width: 25%;
	margin-top: 5px;
	color: #ffffff;
	padding: 3px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px;
}

#jq {
	background-color: #d65077;
	width: 30%;
	margin-top: 5px;
	color: #ffffff;
	padding: 3px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px;
}

@media (min-width: 600px) {
	#titles,
	#graph {
		width: 360px;
		margin: auto;
	}
}

/* INTERESTS SECTION */

#interests {
	width: 90%;
	margin: auto;
	margin-top: 20px;
}

#loves {
	margin: 0;
	padding: 0;
}

.icon {
	text-align: center;
	margin: 10px 10px 20px 10px;
}

.icon img {
	width: auto;
	height: 40px;
	margin: auto;
}

@media (min-width: 300px) {
	#loves {
		width: 80%;
		margin: auto;
	}
	.icon {
		float: left;
		width: 20%;
	}
}

@media (min-width: 600px) {
	#loves {
		width: 90%;
		margin: auto;
	}
}

@media (min-width: 900px) {
	#interests {
		clear: both;
		width: 100%;
		margin: 0;
	}
	#loves {
		width: 100%;
	}
}

/* ACHIEVEMENTS SECTION */

#achievements {
	clear: both;
	background-image: url("../img/trophy.png");
	background-repeat: no-repeat;
}

#award {
	width: 60%;
	margin-bottom: 20px;
}

@media (min-width: 600px) {
	#award {
		padding-bottom: 80px;
	}
}

/* CONTACT INFO SECTION */

#contact {
	background-image: url("../img/phone.png");
	background-repeat: no-repeat;
}

#portfolio img {
	width: 100%;
}

#contact-info {
	margin: 0;
	padding: 0;
}

@media (min-width: 300px) {
	#portfolio {
		width: 60%;
		margin: auto;
		text-align: center;
	}
	#contact-info {
		width: 200px;
		margin: auto;
		margin-top: 20px;
		margin-bottom: 80px;
		text-align: center;
	}
	#contact-info p {
		margin: 7px 0;
	}
}

@media (min-width: 600px) {
	#portfolio {
		width: 200px;
		float: left;
		margin-left: 40px;
		padding-bottom: 80px;
	}
	#contact-info {
		width: 300px;
		text-align: left;
		margin-right: 0;
		margin-top: 60px;
		padding-bottom: 20px;
	}
	#contact-info p {
		margin: 30px 0;
	}
}

/* FOOTER SECTION */

footer {
	clear: both;
	padding: 20px 0;
	margin-top: 20px;
	background-color: #d65077;
	text-align: center;
}

#triangle {
	width: 0;
	height: 0;
	border-left: 90px solid transparent;
	border-right: 90px solid transparent;
	border-bottom: 100px solid #d65077;
	margin: auto;
	margin-top: -60px;
}

footer p {
	color: #ffffff;
	margin-top: -20px;
	margin-bottom: 30px;
}

@media (min-width: 300px) {
	footer {
		width: 100%;
	}
}
