#container {
	max-width: 1200px;
	margin: auto;
}

h1 {
	font-family: 'Lobster', cursive;
}

h4 {
	font-family: "tablet-gothic-narrow", sans-serif;
}

/* HEADER */

header {
	background-color: #54b4b0;
	padding: 10px;
}

#logo {
	margin: -20px;
}

.header-name {
	color: #ffffff;
}
